#appbody {
    height: 620px;
    overflow-y: auto;
    background: rgb(31, 48, 68) linear-gradient(to right, black 0%, rgb(31, 48, 68) 20%, rgb(31, 48, 68) 80%, black 100%);
}

#body_header{
    color: white;
    font-size: 30px;
    font-weight: 100;
    margin-top: 50px;
    margin-bottom: 20px;
}

.ud_class{
    padding: 10px;
}

.ud_div_text{
    color: white;
}

#oldPassword,
#email,
#password,
#password_check{
    width: 300px;
    height: 40px;
    background-color: rgb(49,98,130);
    color: white;
    border: 0;
}

#oldPassword:hover,
#email:hover,
#password:hover,
#password_check:hover{
    border: 1px solid white;
}

